.cabeçalho{
    background: linear-gradient(#fefefe00, #f8f8f800),
    url("../imagens/top.png");/*separar imaagem do gradiente de cor*/
    background-size: cover ;/*cobrir a área do cabeçalho*/
    background-position: center;/*centraliar imagem*/
    width: 100%;
    height: 300px;
    color: #ffffff00;
    text-align: center;
    text-shadow: 0px 10px 15px rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitulo{
    font-size: 24px;
    margin-bottom: 20px;
}
.botao{
    padding: 15px 30px;
    background-color: #3b3b3b00;
    color: #ffffff;
    border-radius: 5px;
    font-size: 10px;
    text-shadow: none;
}

.botao:hover{
    transform: translateY(-8px) scale(1.5);
    background-color: #29292900;
    box-shadow: 0 0 10px #000000;
    text-decoration:underline;
}